# Default to work identity
[user]
	name = AnveshJarabani-Wellsky
	email = anvesh.jarabani@wellsky.com
	signingkey = 2B9BE0A0C0632BBE

[commit]
	gpgsign = true

# Conditional configs based on directory
[includeIf "gitdir:~/WELLSKY_REPOS/"]
	path = ~/.gitconfig-work

[includeIf "gitdir:~/PERSONAL/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig-personal
